Repository terraharbor/backend, pull requests merged in 2025-09, with the labels that each got.

#44 fix: fixed /token when user does not exist
  main.py
Labels: work: obvious, type: bug, effort: 1, type: fix, priority: now, state: approved

#53 test: add Terraform test
  .github/workflows/terraform-test.yaml
  .gitignore
  tests/docker-compose/.env
  tests/docker-compose/docker-compose.yaml
  tests/terraform/main.tf
  tests/terraform/terraform.tf
Labels: type: testing, effort: 3, priority: now, state: approved, work: complicated

#88 tests: fix terraform tests to use new endpoints
  .github/workflows/terraform-tests.yaml
Labels: effort: 2, work: obvious, type: testing, priority: now, state: approved

#71 tests: basic python unit tests
  .github/workflows/python-unit-tests.yaml
  .gitignore
  README.md
  main.py
  projects.py
  tests/python/unit_tests/test_hello_world.py
Labels: type: docs, type: testing, effort: 1, state: approved, priority: soon
